@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?srsbja');
  src: url('fonts/icomoon.eot?srsbja#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?srsbja') format('truetype'),
    url('fonts/icomoon.woff?srsbja') format('woff'),
    url('fonts/icomoon.svg?srsbja#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-video-camera .path1:before {
  content: '\e900';
  color: rgb(193, 199, 208);
}
.icon-video-camera .path2:before {
  content: '\e901';
  margin-left: -1em;
  color: rgb(193, 199, 208);
  opacity: 0.3;
}
.icon-Call:before {
  content: '\e903';
  color: #c1c7d0;
}
.icon-Group .path1:before {
  content: '\e902';

  opacity: 0.5;
}
.icon-Group .path2:before {
  content: '\e906';
  margin-left: -1em;
}
.icon-Half-start .path1:before {
  content: '\e904';

  opacity: 0.5;
}
.icon-Half-start .path2:before {
  content: '\e907';
  margin-left: -1em;
}
.icon-Divits .path1:before {
  content: '\e905';

  opacity: 0.6;
}
.icon-Divits .path2:before {
  content: '\e908';
  margin-left: -1em;

  opacity: 0.6;
}
.icon-Divits .path3:before {
  content: '\e909';
  margin-left: -1em;

  opacity: 0.6;
}
.icon-Divits .path4:before {
  content: '\e90a';
  margin-left: -1em;

  opacity: 0.6;
}
.icon-Divits .path5:before {
  content: '\e90b';
  margin-left: -1em;

  opacity: 0.6;
}
.icon-Divits .path6:before {
  content: '\e91a';
  margin-left: -1em;

  opacity: 0.6;
}
.icon-Divits .path7:before {
  content: '\e91b';
  margin-left: -1em;
}
.icon-Divits .path8:before {
  content: '\e91c';
  margin-left: -1em;

  opacity: 0.6;
}
.icon-Money .path1:before {
  content: '\e90c';

  opacity: 0.5;
}
.icon-Money .path2:before {
  content: '\e90d';
  margin-left: -1em;
}
.icon-Weight .path1:before {
  content: '\e90e';
}
.icon-Weight .path2:before {
  content: '\e90f';
  margin-left: -1em;

  opacity: 0.5;
}
.icon-Chart-pie .path1:before {
  content: '\e910';

  opacity: 0.5;
}
.icon-Chart-pie .path2:before {
  content: '\e911';
  margin-left: -1em;
}
.icon-Adress-book .path1:before {
  content: '\e912';

  opacity: 0.5;
}
.icon-Adress-book .path2:before {
  content: '\e913';
  margin-left: -1em;
}
.icon-Sale .path1:before {
  content: '\e914';
}
.icon-Sale .path2:before {
  content: '\e915';
  margin-left: -1em;

  opacity: 0.5;
}
.icon-Group-chat .path1:before {
  content: '\e916';
}
.icon-Group-chat .path2:before {
  content: '\e917';
  margin-left: -1em;
  opacity: 0.65;
}
.icon-Settings-switch .path1:before {
  content: '\e918';

  opacity: 0.5;
}
.icon-Settings-switch .path2:before {
  content: '\e919';
  margin-left: -1em;
}
