$text-one: #323b4b;
$text-two: #4e5d78;
$text-three: #8a94a6;
$text-four: #b0b7c3;
$bg-one: #c1c7d0;
$bg-two: #f3f3f3;
$bg-three: #fafbfc;
$bg-four: #ffffff;
$primary-blue: #377dff;
$primary-green: #38cb89;
$primary-orange: #ffab00;
$primary-red: #ff5630;
$secondary-blue: #ebf2ff;
$secondary-green: #e5f6ef;
$secondary-orange: #fdf4e0;
$secondary-red: #ffefeb;
$transparent-blue: #f4f8ff;
$transparent-green: #f5fcf9;
$transparent-orange: #fffbf1;
$transparent-red: #fff6f4;
