.sch-chats_contact {
  position: relative;
  top: 0;
  left: 0;
  width: 317px;
  height: 81px;
  margin-bottom: 12px;

  /* Transparent/Transparent 1 */
  background: #f4f8ff;

  border-radius: 12px;
  &-avatar {
    width: 47px;
    height: 47px;
    margin-left: 18px;
    margin-top: 17px;
    display: inline-block;

    border-radius: 20px;
  }
  h2 {
    position: absolute;
    top: 18px;
    left: 80px;
    display: inline-block;
    width: 149px;
    height: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 29px;
    /* or 207% */

    align-items: center;

    /* Text/Text 2 */

    color: #4e5d78;
  }
  p {
    position: absolute;
    top: 45px;
    left: 80px;

    width: 210px;
    height: 13px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    /* identical to box height, or 13px */

    align-items: center;

    /* Text/Text 4 */

    color: #b0b7c3;
  }
}
